*{
    margin: 0;
    padding: 0;
}
  
.conteudo {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
    justify-content: left;
}

.album {
    border: 1px solid rgb(167, 167, 167);
    border-radius: 20px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgb(255, 255, 255);
    text-align: center;
    /*max-width: 397px;*/
    max-width: 30%;
}
.album a{
    font-size: 1.2em;
    margin-bottom: 5px;
    color: rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.album h1 {
    font-size: 1.5em;
    color: rgb(51, 51, 51);
}

.album img {
    width: 45%;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.1);
}

.faixas {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.item {
    flex: 1 1 150px;
    max-width: 200px; 
    border: 1px solid rgb(221, 221, 221);
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    background-color: rgb(249, 249, 249);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.item h2 {
    font-size: 1.2em;
    margin-bottom: 5px;
    color: rgb(85, 85, 85);
}

.item img {
    max-width: 100px;
    border-radius: 4px;
    margin-top: 5px;
}
.albumDetalhes {
    justify-content: center;
    text-align: center;
    border: 1px solid rgb(167, 167, 167);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgb(255, 255, 255);
    max-width: 100%;
}
.albumDetalhes img {
    width: 35%;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
}
.albumDetalhes a{
    font-size: 1.2em;
    margin-bottom: 5px;
    color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.player{
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}