*{
    margin: 0;
    padding: 0;
}
  
.conteudo {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
    justify-content: left;
}
.formLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: rgb(255, 255, 255);
    height: 30vh;
    gap: 15px;
}
.formLogin input[type="text"], form input[type="password"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}
.formLogin input[type="submit"] {
    background-color: rgb(88, 33, 151);
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.album {
    border: 1px solid rgb(167, 167, 167);
    border-radius: 20px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgb(255, 255, 255);
    text-align: center;
    /*max-width: 397px;*/
    max-width: 30%;
}
.album a{
    font-size: 1.2em;
    margin-bottom: 5px;
    color: rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.album h1 {
    font-size: 1.5em;
    color: rgb(51, 51, 51);
}

.album img {
    width: 45%;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.1);
}

.faixas {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.item {
    flex: 1 1 150px;
    max-width: 200px; 
    border: 1px solid rgb(221, 221, 221);
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    background-color: rgb(249, 249, 249);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.item h2 {
    font-size: 1.2em;
    margin-bottom: 5px;
    color: rgb(85, 85, 85);
}

.item img {
    max-width: 100px;
    border-radius: 4px;
    margin-top: 5px;
}
.albumDetalhes {
    justify-content: center;
    text-align: center;
    border: 1px solid rgb(167, 167, 167);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgb(255, 255, 255);
    max-width: 100%;
}
.albumDetalhes img {
    width: 35%;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
}
.albumDetalhes a{
    font-size: 1.2em;
    margin-bottom: 5px;
    color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.player{
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}

.adminConteudo {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 5px;
    padding: 20px;
    justify-content: left;
}
.formAdminAlbum, .formAdminFaixas {
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    max-width: 600px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.formAdminAlbum input, .formAdminFaixas input,
.formAdminAlbum textarea, .formAdminFaixas textarea {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.formAdminAlbum label, .formAdminFaixas label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

.formAdminFaixas input[type="submit"] {
    background-color: rgb(88, 33, 151);
    color: white;
    border: none;
    padding-top: 10px;
    margin-top: 130px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.formAdminAlbum input[type="number"], .formAdminFaixas input[type="number"],
.formAdminFaixas input[type="time"] {
    max-width: 100px;
}
.adminAlbum{
    border: 1px solid rgb(167, 167, 167);
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgb(255, 255, 255);
    max-width: 31%;
}
.adminAlbum img{
    width: 100%; 
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
}
.adminAlbum a{
    justify-content: center;
    font-size: 1.2em;
    margin-bottom: 5px;
    color: rgb(0, 0, 0);
}
.adminFaixas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}